.body {
  font-family: 'Oswald', sans-serif;
}

.title {
  text-align: center;
}

.webcam {
  float: left;
  margin: 10px;
  width: 40%;
}

.despacito {
  float: right;
  margin: 10px;
  background-color: red;
  width: 40%;
}
